<?xml version="1.0"?>
<ruleset name="FIPS">
    <description>Code style rules for the FIPS package.</description>
    <file>src</file>
    <file>tests</file>
    <file>tools/src</file>
    <arg name="colors"/>
    <arg value="sp"/>
    <rule ref="PSR12"/>
</ruleset>
